body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/122/998/original/background_clock.jpeg?1713001034");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "quattrocento-regular";
  opacity: 0.8;
}
h1 {
  text-align: center;
  font-family: "quattrocento-regular";
  font-size: 38px;
  padding: 0 0 20px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  font-family: "quattrocento-regular";
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  font-size: 22px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

.footer {
  max-width: 600px;
  margin: 80px auto;
  background-color: #ffffff;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: #fffed2;
}

footer {
  text-align: center;
  font-size: 16px;
  color: #111111;
  font-family: "quattrocento-regular";
}
